<% if @borrowing_records.any? %>
    <% @reader_page = true %>
    <%= will_paginate @borrowing_records %>

    <table class="table-bordered table-striped">
      <thead>
      <tr>
        <th class="span3">Book</th>
        <th class="span3">Borrow Date</th>
        <th class="span3">Return Date</th>
      </tr>
      </thead>
      <tbody>
      <%= render @borrowing_records %>
      </tbody>
    </table>

    <%= will_paginate @borrowing_records %>
<% end %>